.figure {
  height: 100px;
  width: 300px;
  margin: 50px;

  &-active{
    border: 5px solid black;
  }
}

.circle {
  border-radius: 50%;
  background-color: #4800ff;
}

.squere{
  background-color: #58b359;
}
